[
    {   "id":1,
        "status":"delayed",
        "departure":"Los Angeles, USA",
        "arrival":"Nairobi Kenya",
        "airline":"Air Canada",
        "flightNumber":"EE567",
        "departureTime":"12:00",
        "terminal":"2",
        "gate":"F50"

    },
    {    "id":2,
        "status":"On time",
        "departure":"Santiago, Chile",
        "arrival":"Berlin, Germany",
        "airline":"WestJet",
        "flightNumber":"PR453",
        "departureTime":"21:00",
        "terminal":"1",
        "gate":"F50"

    },
    {    "id":3,
        "status":"delayed",
        "departure":"Havana, Cuba",
        "arrival":"Jerusalem, Israel",
        "airline":"United Airlines",
        "flightNumber":"KK212",
        "departureTime":"18:00",
        "terminal":"2",
        "gate":"F50"

    },
    {    "id":4,
        "status":"cancelled",
        "destination":"Ottawa, Canada",
        "arrival":"Paris, France",
        "airline":"Delta Airline",
        "flightNumber":"AC567",
        "departureTime":"12:00",
        "terminal":"3",
        "gate":"F50"

    },
    {    "id":5,
        "status":"delayed",
        "destination":"New Delhi, India",
        "arrival":"Copenhagen, Denmark",
        "airline": "Singapore Airlines",
        "flightNumber":"HG450",
        "departureTime":"12:00",
        "terminal":"1",
        "gate":"F50"

    },
    {    "id":6,
        "status":"delayed",
        "destination":"Beijing, China",
        "arrival":"Helsinki, Finland",
        "airline":"Air France",
        "flightNumber":"DD567",
        "departureTime":"12:00",
        "terminal":"4",
        "gate":"F50"

    },
    {    "id":7, 
        "status":"On time",
        "destination":"Tunis, Tunisia,",
        "arrival":"Kampala, Uganda,",
        "airline":"Turkish Airlines",
        "flightNumber":"KO878",
        "departureTime":"12:00",
        "terminal":"3",
        "gate":"F50"

    },
    {    "id":8,
        "status":"delayed",
        "destination":"Harare, Zimbabwe",
        "arrival":"Pretoria, South Africa",
        "airline":"British Airways",
        "flightNumber":"JK222",
        "departureTime":"12:00",
        "terminal":"2",
        "gate":"F50"

    },
    {    "id":9,
        "status":"cancelled",
        "destination":"Seoul, South Korea",
        "arrival":"Bangkok, Thailand",
        "airline":"Lufthansa Group",
        "flightNumber":"AS945",
        "departureTime":"17:30",
        "terminal":"1",
        "gate":"F50"

    },
    {    "id":10,
        "status":"On Time",
        "destination":"Kigali, Rwanda",
        "arrival":"Accra, Ghana",
        "airline": "Singapore Airlines",
        "flightNumber":"WG571",
        "departureTime":"15:00",
        "terminal":"3",
        "gate":"F50"

    },
    {    "id":11,
        "status":"cancelled",
        "destination":"Cape Town, South Africa",
        "arrival":"Brussels, Belgium",
        "airline":"Air France",
        "flightNumber":"SC411",
        "departureTime":"22:00",
        "terminal":"5",
        "gate":"F50"

    }
]